.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.content-wrapper {
  max-width: 800px;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #EAE0C8;
}

.mission-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #EAE0C8;
}
